<div class="grid grid-cols-1">
  <nav class="bg-gray-800 p-4" data-controller="menu">
    <div class="grid grid-cols-12">
      <div class="col-end-13">
        <%= link_to 'Sign Out', destroy_contact_session_path, class: "text-white px-3 py-2 rounded-md text-sm font-medium", data: { turbo_method: :delete } %>
      </div>
    </div>
  </nav>
</div>