<div class="p-4 shadow-xl">
  <div class="flex w-full bg-gray-500 justify-between items-center">
    <h2 class="text-lg text-center font-bold mb-4 px-5 py-5 text-white">AGENCIES</h2>
    <button class="mr-5 bg-white text-gray-500 h-[50px] px-3 py-3 mt-30 font-bold">+ New Agency</button>
  </div>
  <table class="table-fixed w-full text-sm mt-5">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
